<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to WTT
  </h1>
</div>
<div class="searchbar">
  <label for="Subject"></label>
  <input name="subject" text="text" [(ngModel)]="query">
  <button (click)="searchPosts()">Submit</button>
</div>
<div>
  <ul>
    <li *ngFor="let post of postList">
      {{ post.data.title }}
      <a href="{{ post.data.url }}">
        {{ post.data.title }}
        <img src="{{post.data.thumbnail}}">
      </a>
      {{post.data.author}}
      Like {{post.data.like}}
      {{post.data.created | date}}
    </li>
  </ul>
</div>
